<div
  style="
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin: 10px;
    background-color: rgb(186, 252, 187);
  "
>
  <a routerLink="" style="cursor: pointer">Home</a> <br />
  <a routerLink="register" style="cursor: pointer">Register</a> <br />
  <a routerLink="login" style="cursor: pointer">Login </a> <br />
  <a routerLink="favourites" style="cursor: pointer">Favourites</a> <br />
</div>

<form
  [formGroup]="searchCityForm"
  (submit)="searchCity()"
  style="display: flex; flex-direction: column; padding: 5x"
>
  <input
    type="text"
    name="name"
    formControlName="nome"
    placeholder="Inserisci una città"
  />
  <p
    *ngIf="
      !searchCityForm.get('nome')?.valid && searchCityForm.get('nome')?.touched
    "
  >
    Inserire una città di almeno tre lettere
  </p>

  <button type="submit" [disabled]="!searchCityForm.valid" routerLink="city">
    Cerca
  </button>
</form>

<router-outlet></router-outlet>
